/* ~/.zen/tizo6sbm.Default (release)/chrome/userContent.css */

@import 'natsumi-pages/natsumi-pages.css';

@media (prefers-color-scheme: dark) {
	/* Common variables affecting all pages */
	@-moz-document url-prefix("about:") {
		:root {
			--in-content-page-color: #cdd6f4 !important;
			--color-accent-primary: #89b4fa !important;
			--color-accent-primary-hover: rgb(163, 197, 251) !important;
			--color-accent-primary-active: rgb(138, 153, 250) !important;
			background-color: #1a1c1e !important;
			--in-content-page-background: #1a1c1e !important;
		}
	}

	/* Variables and styles specific to about:addons */
	@-moz-document url-prefix("about:addons") {
		:root {
			--zen-dark-color-mix-base: #181825 !important;
			--background-color-box: #1a1c1e !important;
		}
	}

	/* Variables and styles specific to about:protections */
	@-moz-document url-prefix("about:protections") {
		:root {
			--zen-primary-color: #0db0f4 !important;
			--social-color: #cba6f7 !important;
			--coockie-color: #89dceb !important;
			--fingerprinter-color: #f9e2af !important;
			--cryptominer-color: #b4befe !important;
			--tracker-color: #a6e3a1 !important;
			--in-content-primary-button-background-hover: rgb(81, 83, 105) !important;
			--in-content-primary-button-text-color-hover: #cdd6f4 !important;
			--in-content-primary-button-background: #45475a !important;
			--in-content-primary-button-text-color: #cdd6f4 !important;
		}

		.card {
			background-color: #1a1c1e !important;
		}
	}
}

* {
	@media -moz-pref('natsumi.global.highlight-accent-color') {
		&::-moz-selection,
		&::selection {
			background: rgba(13, 176, 244, 0.75) !important;
		}
	}
}

@-moz-document url-prefix("about:home"), url-prefix("about:newtab"), url-prefix("about:privatebrowsing") {
	body {
		@media (prefers-color-scheme: dark) {
			background-color: #1a1c1e !important;
		}
	}
}

@media not -moz-pref('natsumi.home.disabled') {
	@-moz-document url-prefix(about:home), url-prefix(about:newtab), url-prefix(about:privatebrowsing) {
		.top-site-button {
			&:hover {
				@media (prefers-color-scheme: dark) {
					border-color: color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					) !important;
				}
			}
		}

		.search-handoff-button {
			@media (prefers-color-scheme: dark) {
				border-color: color-mix(
					in srgb,
					var(--zen-colors-secondary) 10%,
					rgba(255, 255, 255, 0.11) 90%
				) !important;
			}
		}

		/* Modals */
		.modal {
			border: 1px solid
				light-dark(
					rgba(20, 20, 20, 0.2),
					color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					)
				) !important;

			.modal-message {
				.icon-modal-delete {
					color: #c4d5e7 !important;
				}

				span p[data-l10n-id^='newtab-confirm-delete-history'] {
					color: #c4d5e7 !important;
				}
			}

			.top-site-button .title span {
				@media (prefers-color-scheme: dark) {
					color: #c4d5e7 !important;
				}
			}

			.actions {
				border-color: light-dark(
					rgba(20, 20, 20, 0.2),
					color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					)
				) !important;

				button {
					border: 1px solid
						light-dark(
							rgba(20, 20, 20, 0.2),
							color-mix(
								in srgb,
								var(--zen-colors-secondary) 10%,
								rgba(255, 255, 255, 0.11) 90%
							)
						) !important;
				}
			}

			&:has(p[data-l10n-id^='newtab-confirm-delete-history']) {
				border: 1px solid
					light-dark(
						rgba(20, 20, 20, 0.2),
						color-mix(
							in srgb,
							var(--zen-colors-secondary) 10%,
							rgba(255, 255, 255, 0.11) 90%
						)
					) !important;
				background: color-mix(
					in srgb,
					rgb(255, 40, 40) 75%,
					transparent
				) !important;
				box-shadow: 0 0 10px
					color-mix(in srgb, rgb(255, 40, 40) 75%, light-dark(black, white)) !important;

				.actions {
					button {
						border-color: light-dark(
							rgba(20, 20, 20, 0.2),
							color-mix(
								in srgb,
								var(--zen-colors-secondary) 10%,
								rgba(255, 255, 255, 0.11) 90%
							)
						) !important;

						&.done {
							background-color: rgba(255, 255, 255, 0.3) !important;
						}
					}
				}
			}
		}

		/* Context menu */

		.context-menu {
			border: 1px solid rgba(20, 20, 20, 0.2) !important;

			@media (prefers-color-scheme: dark) {
				border-color: light-dark(
					rgba(20, 20, 20, 0.2),
					color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					)
				) !important;
			}

			.context-menu-list {
				.separator {
					border-color: light-dark(
						rgba(20, 20, 20, 0.2),
						color-mix(
							in srgb,
							var(--zen-colors-secondary) 10%,
							rgba(255, 255, 255, 0.11) 90%
						)
					) !important;
				}
			}
		}
	}
}

@media not -moz-pref('natsumi.pdfjs.disabled') {
	html[mozdisallowselectionprint] {
		&:has(head link:nth-of-type(1)[href^="resource://pdf.js"])
		{
			--natsumi-colors-border: color-mix(
				in srgb,
				var(--zen-colors-secondary) 10%,
				rgba(255, 255, 255, 0.11) 90%
			);

			@media (prefers-color-scheme: dark) {
				--toolbarbutton-active-background: color-mix(
					in srgb,
					var(--natsumi-primary-color) 90%,
					rgba(255, 255, 255, 0.1)
				);
				--toolbarbutton-hover-background: color-mix(
					in srgb,
					var(--natsumi-primary-color) 90%,
					rgba(255, 255, 255, 0.1)
				);
			}

			body {
				@media (prefers-color-scheme: dark) {
					background-color: #1a1c1e !important;
				}
			}

			#toolbarContainer,
			#sidebarContainer {
				background: rgba(26, 28, 30, 0.9) !important;
				backdrop-filter: none;
				border: 1px solid
					color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					) !important;
			}

			#toolbarContainer {
				border: 1px solid
					color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					) !important;

				@media (prefers-color-scheme: dark) {
					border-color: color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					) !important;
				}

				.doorHangerRight {
					background: rgba(26, 28, 30, 0.9) !important;
					backdrop-filter: none;
					border: 1px solid
						color-mix(
							in srgb,
							var(--zen-colors-secondary) 10%,
							rgba(255, 255, 255, 0.11) 90%
						) !important;

					@media (prefers-color-scheme: dark) {
						border-color: color-mix(
							in srgb,
							var(--zen-colors-secondary) 10%,
							rgba(255, 255, 255, 0.11) 90%
						) !important;
					}
				}
			}

			#sidebarContainer {
				filter: none;

				@media (prefers-color-scheme: dark) {
					border-color: color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					) !important;
				}

				.thumbnail {
					margin-bottom: 22px !important;
					transition: border-color 0.2s ease;
					--thumbnail-hover-color: rgb(13, 176, 244, 0.75) !important;
					--thumbnail-selected-color: rgb(13, 176, 244, 0.75) !important;

					&::after {
						content: attr(data-page-number);
						display: block;
						color: black;
						width: 100%;
						margin-top: 8px;
						text-align: center;

						@media (prefers-color-scheme: dark) {
							color: white;
						}
					}
				}
			}

			#scaleSelectContainer {
				border-radius: 4px !important;
				overflow: hidden !important;

				select {
					background-color: #f1f1f1 !important;

					@media (prefers-color-scheme: dark) {
						background-color: #23222b !important;
					}
				}
			}

			#pageNumber {
				border-radius: 4px !important;
				overflow: hidden !important;
				background-color: #ffffff !important;
				border-color: color-mix(
					in srgb,
					var(--zen-colors-secondary) 10%,
					rgba(255, 255, 255, 0.11) 90%
				) !important;

				@media (prefers-color-scheme: dark) {
					background-color: #23222b !important;
				}
			}

			.verticalToolbarSeparator,
			.splitToolbarButtonSeparator,
			.horizontalToolbarSeparator,
			.separator {
				border-color: rgba(20, 20, 20, 0.2) !important;

				@media (prefers-color-scheme: dark) {
					border-color: rgba(235, 235, 235, 0.3) !important;
				}
			}

			#editorHighlightVisibility .divider {
				background-color: rgba(20, 20, 20, 0.2) !important;

				@media (prefers-color-scheme: dark) {
					background-color: #23222b !important;
				}
			}

			/* Document properties */

			#documentPropertiesDialog {
				background: rgba(26, 28, 30, 0.9) !important;
				backdrop-filter: none;

				@media (prefers-color-scheme: dark) {
					border-color: color-mix(
						in srgb,
						var(--zen-colors-secondary) 10%,
						rgba(255, 255, 255, 0.11) 90%
					) !important;
				}

				#documentPropertiesClose {
					background-color: #0db0f4 !important;

					@media (prefers-color-scheme: dark) {
						background-color: #0db0f4 !important;
					}
				}
			}
		}
	}
}
